@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 4px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #d5f4e5;
      border-radius: 10px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #5a9e72;
      border-radius: 8px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #648567;
    }
  }